@using Umbraco.Cms.Web.Common.PublishedModels;
@using PromomarkWeb.Helpers;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>
@inject Microsoft.Extensions.Options.IOptions<PromomaxWeb.Options.GoogleRecaptchaOptions> RecaptchaOptions
@{
	Layout = "Master.cshtml";

    var brands = Model.Descendants<Brand>().ToList();
    var contactPage = Model.Children<ContactPage>().FirstOrDefault();
    var brandsPage = Model.Children<Brands>().FirstOrDefault();
    var brandCategories = brandsPage.Children<Brands>().ToList();
    var aboutUsPage = Model.Children<AboutUs>().FirstOrDefault();
}

<!-- start slider -->
<section class="p-0 top-space-margin full-screen md-h-600px sm-h-650px">
    <div class="swiper h-100 swiper-light-pagination" data-slider-options='{ "slidesPerView": 1, "loop": true, "pagination": { "el": ".swiper-pagination-bullets", "clickable": true }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 4000, "disableOnInteraction": false },  "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
        <div class="swiper-wrapper">
            <!-- start slider item -->
            <div class="swiper-slide cover-background position-relative" style="background-image:url('@Model.HeroImage?.Url()');">
                <div class="container tw:max-w-[1600px] h-100 position-relative tw:z-30">
                    <div class="row align-items-center h-100 xl-ps-10 sm-ps-0">
                        <div class="col-xxl-5 col-xl-10 text-white">
                            <h1 class="fw-600">@Model.HeroTitle.RemoveOuterPTags()</h1>  
                            <div class="fs-20 opacity-8 mb-40px sm-mb-30px">@Model.HeroSubtitle.RemoveOuterPTags()</div>
                            <div class="lg-mb-8 md-mb-0">
                                <a href="@brandsPage?.Url()" class="btn btn-white btn-extra-large btn-round-edge fw-700 btn-box-shadow me-35px">Istražite brendove</a>
                                <a href="@contactPage?.Url()" class="text-center d-inline-flex sm-mt-20px rounded-circle video-icon-box video-icon-medium popup-vimeo">
                                    <span class="video-icon bg-base-color me-10px">
                                        <i class="m-0 fa-solid fa-comment text-white"></i>
                                        <span class="video-icon-sonar">
                                            <span class="video-icon-sonar-afr border border-2 border-color-base-color"></span>
                                        </span>
                                    </span>
                                    <span class="text-white fs-20">Kontaktirajte nas</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tw:h-full tw:w-full tw:absolute tw:top-0 tw:left-0 tw:bg-gradient-to-r tw:from-[#081121]/70 tw:to-white/0 tw:z-20"></div>
            </div>
            <!-- end slider item -->
        </div>
        @* <!-- start slider pagination -->
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets d-block d-md-none"></div>
        <!-- end slider pagination -->
        <!-- start slider navigation -->
        <div class="slider-one-slide-prev-1 icon-very-medium text-white swiper-button-prev slider-navigation-style-06 bg-black-transparent-medium h-60px w-60px d-none d-sm-flex border-radius-100"><i class="bi bi-arrow-left-short"></i></div>
        <div class="slider-one-slide-next-1 icon-very-medium text-white swiper-button-next slider-navigation-style-06 bg-black-transparent-medium h-60px w-60px d-none d-sm-flex border-radius-100"><i class="bi bi-arrow-right-short"></i></div>
        <!-- end slider navigation -->  *@
    </div>
</section>
<!-- end slider --> 
<!-- start section -->
<section class="p-0 lg-pt-8 xs-pt-50px">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-xl-5 outside-box-top-205px lg-mt-0 position-relative z-index-1">
                <div class="border-radius-10px overflow-hidden">
                    <div class="bg-base-color p-50px xs-p-30px position-relative">
                        <span class="text-dark-gray opacity-8 fw-500 d-block mb-5px">@Model.FloatingCtaTagline.RemoveOuterPTags()</span>
                        <h5 class="mb-0 fw-700 text-dark-gray">@Model.FloatingCtaTitle.RemoveOuterPTags()</h5>
                        <div class="position-absolute top-0 end-0">
                            <img src="/images/demo-logistics-diagonal-line-01.svg" alt="" height="100" width="100">
                        </div>
                    </div>
                    <div class="bg-dark-gray ps-50px pe-50px pt-20px pb-20px sm-ps-30px sm-pe-30px">
                        <a href="@Model.FloatingCtaButtonLink?.Url" class="fs-19 fw-500 text-white d-flex w-100 align-items-center">@Model.FloatingCtaButtonText.RemoveOuterPTags() <i class="feather icon-feather-plus ms-auto icon-extra-medium"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section --> 
<section class="position-relative">
    <div class="container">
        <img src="/images/demo-logistics-home-bg-01.jpg" class="position-absolute bottom-10px right-0px z-index-minus-1" data-bottom-top="transform: translateY(150px)" data-top-bottom="transform: translateY(-150px)" alt=""/>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-10 md-mb-50px" data-anime='{ "translate": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'> 
                <img src="@Model.AboutImage?.Url()" class="w-100" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)" alt="">
            </div>
            <div class="col-xl-5 col-lg-6 col-md-10 offset-xl-1" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <span class="fs-20 d-inline-block mb-15px text-base-color">@Model.AboutTagline</span> 
                <h2 class="fw-700 ls-minus-1px text-dark-gray mb-20px">@Model.AboutTitle.RemoveOuterPTags()</h2>
                <p class="w-90 lg-w-100">@Model.AboutText.RemoveOuterPTags()</p>
                @if(Model.AboutBulletPoints != null)
                {
                    foreach(var bulletPoint in Model.AboutBulletPoints)
                    {
                        <div class="icon-with-text-style-08 mb-10px">
                            <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                                <div class="feature-box-icon feature-box-icon-rounded w-40px h-40px bg-light-medium-gray rounded-circle me-15px">
                                    <i class="fa-solid fa-check fs-14 text-dark-gray"></i> 
                                </div>
                                <div class="feature-box-content"> 
                                    <span class="text-dark-gray fw-500">@bulletPoint</span>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="mt-35px d-flex flex-wrap">
                    <a href="@Model.AboutCtaLink?.Url" class="btn btn-large btn-dark-gray btn-hover-animation-switch btn-round-edge btn-box-shadow btn-icon-right me-30px">
                        <span> 
                            <span class="btn-text">@Model.AboutCtaText</span>
                            <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                        </span>
                    </a>
                </div>
            </div> 
        </div>
    </div>
</section>
<!-- end section -->
@{
    var partners = Model.Partners?.Select(x => x.Content as Partner).ToList();
}
@if(partners.Any())
{
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center pb-4 md-pb-8" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 150, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <div class="col-auto icon-with-text-style-08">
                    <div class="feature-box feature-box-left-icon-middle">
                        <div class="feature-box-icon me-10px">
                            <i class="far fa-star icon-very-medium text-base-color"></i>
                        </div>
                        <div class="feature-box-content text-dark-gray fs-20 fw-600 ls-minus-05px">@Model.PartnersTagline</div>
                    </div>
                </div>
            </div>
            <div class="row position-relative clients-style-08" data-anime='{ "translateX": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <div class="col swiper text-center feather-shadow" data-slider-options='{ "slidesPerView": 2, "spaceBetween":0, "speed": 6000, "loop": true, "pagination": { "el": ".slider-four-slide-pagination-2", "clickable": false }, "allowTouchMove": false, "autoplay": { "delay":0, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-four-slide-next-2", "prevEl": ".slider-four-slide-prev-2" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 6 }, "992": { "slidesPerView": 4 }, "768": { "slidesPerView": 3 } }, "effect": "slide" }'>
                    <div class="swiper-wrapper marquee-slide">
                        @foreach(var partner in partners)
                        {
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <a class="d-flex justify-content-center" href="@partner.Link?.Url" target="@partner.Link?.Target"><img src="@partner.Logo?.Url()" 
                                class="h-40px xs-h-30px tw:opacity-80 tw:hover:opacity-100 tw:grayscale tw:hover:grayscale-0 tw:transition tw:duration-300" alt="" /></a>
                            </div>
                            <!-- end client item -->
                        }
                        
                    </div> 
                </div>  
            </div>
        </div>
    </section>
}

<!-- start section -->
<section class="pb-70px">
    <div class="container">
        <div class="row align-items-center align-items-xl-end justify-content-center mb-70px sm-mb-35px">                    
            <div class="col-lg-6 col-md-10 md-mb-20px text-lg-start text-center" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <span class="fs-16 lh-22 fw-700 mb-15px d-inline-block text-uppercase text-dark-gray border-bottom tw:border-t-0 tw:border-x-0 border-2 border-color-base-color">@Model.FeaturesTagline</span>
                <h2 class="text-dark-gray fw-700 mb-0 ls-minus-1px">@Model.FeaturesTitle.RemoveOuterPTags()</h2>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-10 offset-xl-1 text-lg-start text-center last-paragraph-no-margin">
                <p data-anime='{ "el": "lines", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad"}'>@Model.FeaturesText.RemoveOuterPTags()</p>
            </div>
        </div>
        @if(Model.Features.Any())
        {
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center mb-70px sm-mb-35px" data-anime='{ "el": "childs", "translateX": [-30, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                @foreach(var featureItem in Model.Features)
                {
                    var feature = featureItem.Content as HomeFeatureBlock;
                    <!-- start features box item -->
                    <div class="col icon-with-text-style-07 transition-inner-all md-mb-30px">
                        <div class="bg-very-light-gray h-100 justify-content-end feature-box flex-column-reverse p-15 xl-p-13 border-radius-8px">
                            <div class="feature-box-icon"> 
                                <img src="@feature.Icon?.Url()" class="tw:h-[72px] tw:w-auto" alt="">
                            </div>
                            <div class="feature-box-content">
                                <span class="d-inline-block fw-600 text-dark-gray mb-5px fs-20">@feature.Title</span>
                                <p class="mb-30px">@feature.Text.RemoveOuterPTags()</p>
                            </div>                        
                        </div>
                    </div>
                    <!-- end features box item -->
                }
            </div>
        }
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <i class="bi bi-patch-check-fill text-base-color icon-very-medium me-10px"></i>
                <span class="fs-22 fw-500 text-dark-gray">@Model.FeaturesEndTagline.RemoveOuterPTags()</span>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- start section -->
<section class="overflow-hidden bg-gradient-very-light-gray">
    <div class="container">
        <div class="row justify-content-center mb-3 xs-mb-2">
            <div class="col-lg-7 text-center" data-anime='{ "el": "childs", "opacity": [0, 1], "translateY": [0, 0], "staggervalue": 200, "easing": "easeInOutSine" }'>
                <span class="fs-16 lh-22 fw-700 mb-10px d-inline-block text-uppercase text-dark-gray border-bottom border-2 tw:border-x-0 tw:border-t-0 border-color-base-color">@Model.BrandsTagline</span>
                <h2 class="text-dark-gray fw-700 mb-0 ls-minus-1px">@Model.BrandsTitle.RemoveOuterPTags()</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <!-- filter navigation -->
                <ul class="portfolio-filter nav nav-tabs justify-content-center border-0 fw-500 alt-font pb-5">
                    <li class="nav active"><a data-filter="*" href="#">Sve</a></li>
                    @foreach(var brandCategory in brandCategories)
                    {
                        <li class="nav"><a data-filter=".@brandCategory.Id" href="#">@brandCategory.Name</a></li>
                    }
                </ul>
                <!-- end filter navigation -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 filter-content">
                <ul class="portfolio-modern portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-large text-center">
                    <li class="grid-sizer"></li>
                    @foreach(var brand in brands)
                    {
                        var brandCategory = brand.Parent<Brands>();
                        <!-- start portfolio item -->
                        <li class="grid-item grid-item-double @brandCategory.Id transition-inner-all">
                            <a href="@brand.Url()">
                                <div class="portfolio-box">
                                    <div class="portfolio-image border-radius-4px">
                                        <img src="@brand.HighlightImage.Url()" alt="" />
                                    </div>
                                    <div class="portfolio-overlay tw:bg-gradient-to-tr tw:from-[#1D468D]/10 tw:via-[#087EE3]/10 tw:to-[#2CDED0]/10 tw:backdrop-blur-xs">
                                        <div class="tw:h-full tw:w-full tw:flex tw:flex-col tw:items-center tw:justify-center tw:px-[15%]">
                                            <div class="tw:h-[120px] tw:min-w-[50%] tw:flex tw-items-center tw:justify-center tw:bg-white tw:px-8 tw:py-6 tw:rounded-xl tw:shadow-lg">
                                                <img class="tw:max-h-full tw:w-auto tw:max-w-full tw:object-contain" src="@brand.Logo.Url()" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portfolio-hover box-shadow-extra-large">
                                        <div class="bg-white d-flex align-items-center align-self-end text-start border-radius-4px ps-30px pe-30px pt-20px pb-20px lg-p-20px w-100">
                                            <div class="me-auto">
                                                <div class="fs-12 text-medium-gray text-uppercase lh-24">@brandCategory.Name</div>
                                                <div class="alt-font fw-600 text-dark-gray text-uppercase lh-initial">@brand.Name</div>
                                            </div>
                                            <div class="ms-auto"><i class="feather icon-feather-plus icon-extra-medium text-dark-gray lh-36"></i></div> 
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- end portfolio item -->
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section class="cover-background big-section" style="background-image: url('/images/promomark_bg_02.jpeg')">
    <div class="opacity-extra-medium bg-dark-gray"></div>
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 md-mb-40px">
                <h3 class="text-white fw-500 ls-minus-1px">@Model.ContactTitle.RemoveOuterPTags()</h3>
                <p class="text-white opacity-7">@Model.ContactText.RemoveOuterPTags()</p>
                <div class="row row-cols-1 justify-content-center mt-30px">                 
                    <!-- start features box item -->
                    <div class="col icon-with-text-style-08">
                        <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                            <div class="feature-box-icon feature-box-icon-rounded bg-base-color w-80px h-80px rounded-circle me-20px">
                                <i class="bi bi-envelope text-white icon-very-medium"></i>
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="text-white opacity-7 d-block">Preferirate direktan kontakt?</span>
                                <span class="d-block fs-22 text-white"><a href="mailto:@Model.ContactEmail" class="text-white text-decoration-line-bottom">@Model.ContactEmail</a></span>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                </div>
            </div>                
            <div class="col-lg-7 offset-xl-1">
                @if (TempData["contactSuccess"] as string == "true")
                {
                    <div class="alert alert-success mb-20px" role="alert">
                        Vaša poruka je poslana. Hvala!
                    </div>
                }
                @{
                    var _hasForm = Context?.Request?.HasFormContentType == true;
                    var _valName = _hasForm ? (string)Context!.Request!.Form["Name"] : string.Empty;
                    var _valEmail = _hasForm ? (string)Context!.Request!.Form["Email"] : string.Empty;
                    var _valMessage = _hasForm ? (string)Context!.Request!.Form["Message"] : string.Empty;
                }
                @using (Html.BeginUmbracoForm("Submit", "ContactSurface"))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="g-recaptcha-response" value="" />
                    @Html.ValidationSummary(true, "Molimo ispravite označene pogreške.")
                    <div class="row row-cols-1 row-cols-md-2 justify-content-center">
                        <div class="col mb-30px">
                            <input class="border-color-transparent-white-very-light bg-transparent placeholder-light form-control required" type="text" name="Name" placeholder="Ime i prezime*" value="@_valName" />
                            @Html.ValidationMessage("Name", null, new { @class = "text-danger" })
                        </div>
                        <div class="col mb-30px">
                            <input class="border-color-transparent-white-very-light bg-transparent placeholder-light form-control required" type="email" name="Email" placeholder="Email*" value="@_valEmail" />
                            @Html.ValidationMessage("Email", null, new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            <textarea class="border-color-transparent-white-very-light bg-transparent placeholder-light form-control" cols="40" rows="4" name="Message" placeholder="Poruka">@_valMessage</textarea>
                            @Html.ValidationMessage("Message", null, new { @class = "text-danger" })
                            <input type="hidden" name="redirect" value="">
                            <button class="btn btn-medium btn-white mt-30px btn-round-edge submit fw-700" type="submit" data-sitekey="@RecaptchaOptions.Value.SiteKey">Javite nam se</button>
                            <div class="form-results mt-20px d-none"></div>
                        </div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(RecaptchaOptions.Value.SiteKey))
                {
                    <script src="https://www.google.com/recaptcha/api.js?render=@RecaptchaOptions.Value.SiteKey"></script>
                }
            </div>
        </div>
    </div>
</section>
<!-- end section -->