@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>
@{
	Layout = "Master.cshtml";

    var bannerImages = Model.BannerImages;

    var projects = Model.Descendants<Project>().ToList();
    var contactPage = Model.Children<ContactPage>().FirstOrDefault();
    var projectsPage = Model.Children<Projects>().FirstOrDefault();
}

<section class="p-0 full-screen top-space-margin position-relative overflow-hidden md-h-auto">
    <div class="container-fluid p-0 h-100 position-relative">
        <div class="row h-100 g-0">
            <div class="col-xl-5 col-lg-6 d-flex justify-content-center flex-column ps-10 xxl-ps-5 xl-ps-2 md-ps-0 cover-background tw:overflow-visible position-relative order-2 order-lg-1" style="background-image:url('/images/hero-left-3.png');">
                <div class="border-start border-color-extra-medium-gray ps-60px ms-100px lg-ps-30px lg-ms-70px position-relative tw:z-30 sm-ps-30px sm-pe-30px sm-ms-0 border-0" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="mb-15px tw:flex tw:flex-col tw:md:flex-row tw:items-center tw:md:gap-2">
                        <div>
                            <i class="fa fa-star tw:text-yellow-500"></i>
                            <i class="fa fa-star tw:text-yellow-500"></i>
                            <i class="fa fa-star tw:text-yellow-500"></i>
                            <i class="fa fa-star tw:text-yellow-500"></i>
                            <i class="fa fa-star tw:text-yellow-500"></i>
                        </div>
                        <span class="alt-font">@Model.BannerSocialProof</span>
                    </div>
                    <h1 class="text-dark-gray tw:text-center tw:md:text-left fs-100 lg-fs-55 fw-600 alt-font outside-box-right-10 xl-outside-box-right-15 ls-minus-4px sm-ls-minus-2px md-me-0">
                        <span>@Html.Raw(Model.BannerTitle)</span>
                    </h1>
                    <div class="fs-24 w-90 mb-35px lg-w-90 sm-w-100 tw:text-center tw:md:text-left">@Html.Raw(Model.BannerSubtitle)</div>
                    <div class="tw:flex tw:flex-col tw:items-center tw:md:flex-row tw:gap-2">
                        <a href="@contactPage?.Url()" class="btn btn-base-color btn-large border-1 btn-round-edge btn-box-shadow me-15px xs-mt-10px xs-mb-10px">Kontaktirajte nas</a>
                        <a href="@projectsPage?.Url()" class="btn btn-large btn-link btn-hover-animation-switch text-dark-gray p-0 ">
                            <span>
                                <span class="btn-text">Naši projekti</span>
                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
                            </span> 
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 position-relative swiper-number-pagination-progress md-h-500px order-1 order-lg-2 md-mb-50px"> 
                <div class="swiper h-100 banner-slider magic-cursor drag-cursor" data-slider-options='{ "slidesPerView": 1, "loop": true, "pagination": { "el": ".swiper-number-line-pagination", "clickable": true }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 7000, "stopOnLastSlide": true, "disableOnInteraction": false },"keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "fade" }' data-swiper-number-pagination-progress="true">
                    <div class="swiper-wrapper">
                        @foreach(var bannerImage in bannerImages)
                        {
                            <!-- start slider item -->
                            <div class="swiper-slide">
                                <div class="position-absolute left-0px top-0px w-100 h-100 cover-background background-position-center-top" style="background-image:url('@bannerImage.GetCropUrl("bannerImage")');"></div>
                            </div>
                            <!-- end slider item -->
                        }
                    </div>
                    <!-- start slider pagination -->
                    <div  class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets d-block d-sm-none"></div>
                    <!-- end slider pagination --> 
                    <!-- start slider navigation -->
                    <!-- <div class="slider-one-slide-prev-1 icon-very-small text-white swiper-button-prev slider-navigation-style-06 d-none d-sm-inline-block"><i class="line-icon-Arrow-OutLeft icon-extra-large"></i></div>
                        <div class="slider-one-slide-next-1 icon-very-small text-white swiper-button-next slider-navigation-style-06 d-none d-sm-inline-block"><i class="line-icon-Arrow-OutRight icon-extra-large"></i></div> -->
                    <!-- end slider navigation -->
                </div>
                <div class="tw:h-full tw:w-full tw:absolute tw:top-0 tw:left-0 tw:bg-gradient-to-r tw:from-white/40 tw:to-transparent tw:z-20"></div>
                <!-- start slider pagination -->
                <div class="swiper-pagination-wrapper d-none d-lg-flex align-items-center justify-content-center position-absolute bottom-40px md-bottom-30px sm-bottom-20px left-minus-45 md-left-30px sm-left-20px z-index-9">
                    <div class="number-prev fs-14 fw-600 text-dark-gray"></div>
                    <div class="swiper-pagination-progress bg-extra-medium-gray">
                        <span class="swiper-progress dark"></span>
                    </div>
                    <div class="number-next fs-14 fw-600 text-dark-gray"></div>    
                </div>
                <!-- end slider pagination -->
            </div>
        </div>
    </div>
</section>

@* <section class="p-0 full-screen top-space-margin position-relative overflow-hidden md-h-auto">
    <div class="container-fluid p-0 h-100 position-relative">
        <div class="row h-100 g-0">
            <div class="col-xl-5 col-lg-6 d-flex justify-content-center flex-column ps-15 xxl-ps-5 xl-ps-2 md-ps-0 cover-background tw:overflow-visible position-relative order-2 order-lg-1" style="background-image:url('/images/hero-left-1.png');">
                <div class="border-start border-color-extra-medium-gray ps-60px ms-100px lg-ps-30px lg-ms-70px position-relative tw:z-30 sm-ps-30px sm-pe-30px sm-ms-0 border-0" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <h1 class="text-white fs-75 lg-fs-55 fw-600 alt-font outside-box-right-10 xl-outside-box-right-15 ls-minus-4px sm-ls-minus-2px md-me-0">
                        <span>Provide branding solutions to grow your business.</span>
                    </h1>
                    <p class="text-light-gray w-75 mb-35px lg-w-90 sm-w-100">Vaš pouzdan partner u gradnji i investicijama.</p>
                    <a href="demo-real-estate-contact.html" class="btn btn-white btn-large border-1 btn-round-edge btn-box-shadow me-15px xs-mt-10px xs-mb-10px">Kontaktirajte nas</a>
                    <a href="demo-real-estate-property-details.html" class="btn btn-transparent-white-light border-1 btn-large btn-round-edge fw-500 xs-mt-10px xs-mb-10px">Naši projekti</a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 position-relative swiper-number-pagination-progress md-h-500px order-1 order-lg-2 md-mb-50px"> 
                <div class="swiper h-100 banner-slider magic-cursor drag-cursor" data-slider-options='{ "slidesPerView": 1, "loop": true, "pagination": { "el": ".swiper-number-line-pagination", "clickable": true }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 7000, "stopOnLastSlide": true, "disableOnInteraction": false },"keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "fade" }' data-swiper-number-pagination-progress="true">
                    <div class="swiper-wrapper">
                        @foreach(var bannerImage in bannerImages)
                        {
                            <!-- start slider item -->
                            <div class="swiper-slide">
                                <div class="position-absolute left-0px top-0px w-100 h-100 cover-background background-position-center-top" style="background-image:url('@bannerImage.GetCropUrl("bannerImage")');"></div>
                            </div>
                            <!-- end slider item -->
                        }
                    </div>
                    <!-- start slider pagination -->
                    <div  class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets d-block d-sm-none"></div>
                    <!-- end slider pagination --> 
                    <!-- start slider navigation -->
                    <!-- <div class="slider-one-slide-prev-1 icon-very-small text-white swiper-button-prev slider-navigation-style-06 d-none d-sm-inline-block"><i class="line-icon-Arrow-OutLeft icon-extra-large"></i></div>
                        <div class="slider-one-slide-next-1 icon-very-small text-white swiper-button-next slider-navigation-style-06 d-none d-sm-inline-block"><i class="line-icon-Arrow-OutRight icon-extra-large"></i></div> -->
                    <!-- end slider navigation -->
                </div>
                <div class="tw:h-full tw:w-full tw:absolute tw:top-0 tw:left-0 tw:bg-gradient-to-r tw:from-primary-900/40 tw:to-transparent tw:z-20"></div>
                <!-- start slider pagination -->
                <div class="swiper-pagination-wrapper d-none d-lg-flex align-items-center justify-content-center position-absolute bottom-40px md-bottom-30px sm-bottom-20px left-minus-45 md-left-30px sm-left-20px z-index-9">
                    <div class="number-prev fs-14 fw-600 text-white"></div>
                    <div class="swiper-pagination-progress bg-dark-gray">
                        <span class="swiper-progress"></span>
                    </div>
                    <div class="number-next fs-14 fw-600 text-white"></div>    
                </div>
                <!-- end slider pagination -->
            </div>
        </div>
    </div>
</section> *@
@* <section class="p-0 top-space-margin">
    <div class="swiper full-screen swiper-number-pagination-style-01 md-h-auto" data-slider-options='{ "slidesPerView": 1, "loop": false, "pagination": { "el": ".swiper-number", "clickable": true }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 4000, "disableOnInteraction": false },  "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }' data-number-pagination="1">
        <div class="swiper-wrapper">
            <!-- start slider item -->
            <div class="swiper-slide" > 
                <div class="container-fluid h-100 g-0">
                    <div class="row h-100 p-0">
                        <div class="col-xxl-5 col-lg-6 text-white bg-very-light-green cover-background ps-6 xxl-ps-4 sm-ps-15px order-2 order-lg-1 md-pt-50px md-pb-15 xs-pb-20" style="background-image:url('/images/hero-left-1.png');" >
                            <div class="d-flex justify-content-center align-items-lg-start align-items-center text-lg-start text-center flex-column h-100" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                                <div>
                                    <span class="fs-20 opacity-6 mb-25px sm-mb-15px d-inline-block fw-300">Vaš pouzdan partner u gradnji i investicijama.</span>
                                </div>
                                <div class="fs-75 lg-fs-55 fw-600 ls-minus-2px md-w-80 sm-w-100 xs-w-90">
                                    <span>Gradimo budućnost.</span>
                                    <br>
                                    <span>Stvaramo domove.</span>
                                </div>
                                <div class="d-inline-block mt-45px sm-mt-30px">
                                    <a href="demo-green-energy-about.html" class="btn btn-extra-large btn-white btn-rounded btn-switch-text btn-box-shadow d-inline-block me-20px sm-me-10px align-middle left-icon">
                                        <span>
                                            <span><i class="feather icon-feather-thumbs-up"></i></span>
                                            <span class="btn-double-text ls-minus-05px" data-text="Discover more">Discover more</span>
                                        </span>
                                    </a>
                                    <a href="demo-green-energy-services.html" class="btn btn-link btn-hover-animation-switch fw-500 btn-extra-large text-white btn-icon-left xs-mt-15px">
                                        <span>
                                            <span class="btn-text">View services</span>
                                            <span class="btn-icon"><i class="feather icon-feather-box"></i></span>
                                            <span class="btn-icon"><i class="feather icon-feather-box"></i></span>
                                        </span> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-7 col-lg-6 cover-background sm-background-position-top-center order-1 order-lg-2 md-h-500px sm-h-400px" style="background-image:url('https://via.placeholder.com/1200x1000');"></div>
                    </div> 
                </div>
            </div>
            <!-- end slider item -->
        </div>
        <!-- start slider navigation -->
        <div class="position-relative">
            <!-- start slider pagination --> 
            <div class="swiper-pagination w-auto left-0 md-right-0px text-center swiper-pagination-clickable swiper-number fs-14 ps-6 xxl-ps-4 md-ps-0"></div>  
            <!-- end slider pagination --></div>
        <!-- end slider navigation --> 
    </div>
   
</section> *@
<!-- end banner slider --> 
<!-- start section --> 
<section>
    <div class="container"> 
        <div class="row justify-content-center mb-6 md-mb-50px">                    
            <div class="col-lg-7 col-12 md-mb-35px last-paragraph-no-margin" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="mb-10px">
                    <span class="w-30px h-2px fs-15 d-inline-block bg-base-color me-5px align-middle"></span>
                    <span class="text-uppercase text-base-color fs-16 fw-600 d-inline-block">O Demax projektu</span>
                </div>
                <h2 class="text-dark-gray fw-700 ls-minus-2px">Jedan partner za cijeli proces gradnje.</h2>
                <p class="w-85 lg-w-100">Kao glavni izvođač, nadzorni inženjer i investitor, nudimo cjelovita rješenja u graditeljstvu – od ideje do useljenja. Naš rad temelji se na stručnosti, transparentnosti i posvećenosti svakom detalju. Bez kompromisa u kvaliteti. Bez neočekivanih iznenađenja.
Jer vaš dom zaslužuje sigurnog partnera.</p>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-1 col-12">
                <div class="border-radius-10px overflow-hidden" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="p-30px tw:bg-primary-50 text-center">
                        <span class="fs-26 ls-minus-05px fw-600 text-dark-gray alt-font">Trenutno gradimo nove domove za buduće vlasnike.</span>
                    </div>
                    <div class="feature-box feature-box-left-icon-middle bg-base-color p-8 overflow-hidden last-paragraph-no-margin">
                        <div class="feature-box-icon me-15px">
                            <svg class="w-80px tw:text-white" viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor"><path d="m604.5 216.3h45.3s8.8-35-30.6-36.5h-87.6c0-2.7-1.7-5.1-4.4-5.7l-208.5-46.7c-3.1-.6-6.3 1.3-7 4.4v1.3h-4.5c0-.8-.1-1.7-.5-2.5-1.4-2.9-4.9-4.1-7.8-2.7l-131.2 62.7c-2.8 1.4-4 4.7-2.8 7.5l-15.1.3s-7.3 17.9 56.9 17.9h72.9v42.3h96.2v-42.3h217.2v281.6c0 .5.2.9.3 1.4-11.9 2.6-20.8 13.1-20.8 25.7s8.8 23 20.5 25.6v17.5c0 2 1 3.9 2.8 5l9.6 6c1 1.2 1.6 2.7 1.6 4.3s-.7 3.5-1.9 4.7c-2.6 2.6-6.8 2.6-9.4 0-2.3-2.3-6-2.3-8.2 0-2.3 2.3-2.3 6 0 8.2 3.6 3.6 8.3 5.4 13 5.4s9.4-1.8 13-5.3c3.5-3.5 5.4-8.1 5.4-13s-1.9-9.5-5.4-12.9c-.3-.3-.7-.6-1-.8l-7.5-4.7v-14.3c11.7-2.7 20.5-13.1 20.5-25.6s-8.9-23.2-20.8-25.7c.1-.5.3-.9.3-1.4v-281.7zm-309.1-20.5-116.1 2 121.3-58-5.2 55.9zm67.1-16-37.9 18.6-6.6-59.1 181.1 40.5zm250.9 345.2c0 8.1-6.6 14.7-14.7 14.7s-14.7-6.6-14.7-14.7 6.6-14.7 14.7-14.7 14.7 6.6 14.7 14.7z"/><path d="m259 262.9h93.3v96.9h-93.3z"/><path d="m275 369.6h61.2v226.3h-61.2z"/><path d="m377.1 672.7-40.8-24.2v-37.6h-61.3v30.9l-39.4 30.9z"/></g><circle cx="400" cy="400" fill="none" r="376.5" stroke="currentColor" stroke-miterlimit="10" stroke-width="10"/></svg>
                        </div>
                        <div class="feature-box-content">
                            <span class="d-inline-block fs-45 xl-fs-30 lg-fs-24 text-white fw-700 ls-minus-2px">
                                <span class="counter" data-speed="1500" data-to="100"></span>
                                <span>+</span>
                            </span>
                            <p class="text-white fs-18">stanova u izgradnji.</p>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2 justify-content-center mb-6 sm-mb-50px" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
            <!-- start features box item -->
            <div class="col custom-icon-with-text-style-02 border-end xs-border-end-0 md-mb-30px">
                <div class="feature-box last-paragraph-no-margin">
                    <div class="feature-box-icon">
                        <i class="line-icon-Building icon-extra-large text-base-color mb-20px justify-content-center"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="d-block fs-20 fw-600 text-dark-gray mb-10px">Vlastiti stambeni projekti</span>
                        <p class="w-80 xl-w-100 mx-auto">Prepoznajemo i razvijamo profitabilne nekretninske projekte, stvarajući vrijednost za naše partnere i buduće stanare.</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col custom-icon-with-text-style-02 border-end md-border-end-0 md-mb-30px">
                <div class="feature-box last-paragraph-no-margin">
                    <div class="feature-box-icon">
                        <i class="line-icon-Crane icon-extra-large text-base-color mb-20px justify-content-center"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="d-block fs-20 fw-600 text-dark-gray mb-10px">Glavni izvođač radova</span>
                        <p class="w-80 xl-w-100 mx-auto">Od temelja do krova, preuzimamo potpunu odgovornost za izvedbu vašeg projekta prema najvišim standardima kvalitete.</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col custom-icon-with-text-style-02">
                <div class="feature-box last-paragraph-no-margin">
                    <div class="feature-box-icon">
                        <i class="line-icon-Check icon-extra-large text-base-color mb-20px justify-content-center"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="d-block fs-20 fw-600 text-dark-gray mb-10px">Stručni građevinski nadzor i vođenje projekata</span>
                        <p class="w-80 xl-w-100 mx-auto">Naš tim stručnjaka osigurava da vaša gradnja teče glatko, u skladu s propisima i unutar zadanih okvira.</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->
        </div>
        <div class="row justify-content-center g-0" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
            <div class="col-auto pt-15px pb-15px ps-40px pe-40px md-ps-25px md-pe-25px tw:bg-primary-50 border-radius-100px">
                <div class="feature-box feature-box-left-icon-middle">
                    <div class="feature-box-icon me-10px">
                        <i class="line-icon-Map-Marker2 icon-extra-medium text-base-color justify-content-center"></i>
                    </div>
                    <div class="feature-box-content text-dark-gray tw:leading-[1.4]">
                        Istražite dostupne stanove u našim zgradama. <a href="@projectsPage?.Url()" class="text-dark-gray fw-600">Pogledajte projekte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
@if(projects != null && projects.Count > 0)
{
    <section class="stack-box py-0 z-index-99"> 
        <div class="stack-box-contain">
            @for(var i = 0; i < projects.Count; i++)
            {
                var project = projects[i];
                var backgroundClass = "bg-white";
                if(i % 2 == 1)
                {
                    backgroundClass = "bg-base-color-light";
                }
                <!-- start stack item -->
                <div class="stack-item stack-item-0@(i+1) @backgroundClass lg-pt-8 sm-pt-0 lg-pb-8 md-pb-0">
                    <div class="stack-item-wrapper">
                        <div class="container-fluid">
                            <div class="row align-items-center full-screen md-h-auto"> 
                                <div class="col-lg-6 cover-background overflow-visible h-100 md-h-500px" style="background-image: url(@project.Images.First().GetCropUrl("mainSlider"))">
                                    <div class="position-absolute right-0px bottom-minus-1px">
                                        <div class="vertical-title-center">
                                            <div class="title fw-700 fs-15 alt-font text-uppercase text-dark-gray @backgroundClass pt-30px pb-30px ps-10px pe-10px">
                                                <span class="d-inline-block">Naši projekti</span>
                                            </div>
                                        </div>
                                    </div>

                                    @* @if(project.IsActive)
                                    {
                                        <figcaption class="position-absolute tw:rounded-l-2xl bg-base-color right-0px tw:top-[10%] p-45px last-paragraph-no-margin">
                                            <i class="line-icon-Pricing icon-extra-large text-white mb-20px justify-content-center"></i>
                                            <p class="text-white">Cijena od</p>
                                            <h4 class="alt-font fw-700 text-white mb-0 d-block">@project.PriceFrom.ToString("N0") € / m<sup>2</sup></h4>
                                        </figcaption>
                                    } *@
                                </div>
                                <div class="col-lg-6 ps-12 pe-12 xxl-ps-10 xxl-pe-10 xl-pe-8 lg-ps-6 lg-pe-4 md-p-50px sm-ps-30px sm-pe-30px position-relative align-self-center text-md-start text-center"> 
                                    @if(project.IsActive)
                                    {
                                        <div class="mb-15px">
                                            <span class="label tw:bg-green-100 tw:text-green-600 border-radius-26px tw:px-3 tw:py-1">U prodaji</span>
                                        </div>
                                    }
                                    <h1 class="text-dark-gray fs-90 alt-font fw-600 ls-minus-4px mb-10px">@project.Name</h1>
                                    <div class="mb-20px">
                                        <span class="w-30px h-2px fs-15 d-inline-block bg-base-color me-5px align-middle"></span>
                                        <span class="text-base-color fs-20 fw-600 d-inline-block">@project.Subtitle</span>
                                    </div>
                                    <p class="w-95 md-w-100 mb-35px">@Html.Raw(project.ShortDescription)</p>
                                    <a href="@project.ProjectLink?.Url" target="@project.ProjectLink?.Target" class="btn btn-large btn-rounded btn-transparent-base-color btn-hover-animation-switch d-table d-lg-inline-block lg-mb-15px md-mx-auto">
                                        <span>
                                            <span class="btn-text">Saznajte više</span>
                                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                            <span class="btn-icon"><i class="fa-solid fa-arrow-right"></i></span>
                                        </span> 
                                    </a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end stack item -->
            }
        </div>
    </section>
}
