@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Master>
@{
	Layout = null;

    var pageTitle = !string.IsNullOrWhiteSpace(Model.PageTitle) ? Model.PageTitle : Model.Name;
    var homePage = Model.AncestorOrSelf<HomePage>();
    var canonicalUrl = $"https://promomark.hr{Context.Request.Path}";
    
    Umbraco.Cms.Core.Models.MediaWithCrops metaImage = Model.MetaImage;
    if(metaImage == null)
    {
        metaImage = homePage.MetaImage;
    }

    string metaDescription = Model.MetaDescription;
    if(string.IsNullOrWhiteSpace(metaDescription))
    {
        metaDescription = homePage.MetaDescription;
    }
}

<!doctype html>
<html class="no-js" lang="hr">
    <head>
        <title>Promomark | @pageTitle</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="Demax">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="@metaDescription">
        <link rel="canonical" href="@canonicalUrl" />
        @if(metaImage != null)
        {
            <meta property="og:image" content="@metaImage.GetCropUrl(1200, 628, urlMode: UrlMode.Absolute)">
            <meta property="og:image:width" content="1200">
            <meta property="og:image:height" content="628">
        } 
        <!-- favicon icon -->

        <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png?v=1" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg?v=1" />
        <link rel="shortcut icon" href="/favicon/favicon.ico?v=1" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=1" />
        <meta name="apple-mobile-web-app-title" content="Promomark" />
        <link rel="manifest" href="/favicon/site.webmanifest?v=1" />

        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link rel="stylesheet" type="text/css" href="~/css/vendors.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/icon.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/style.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/responsive.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/umbraco-blockgridlayout.css">
        <link rel="stylesheet" type="text/css" href="~/css/custom.css?v=3">

        <link rel="stylesheet" type="text/css" href="~/css/output.css?v=3">
    </head>
   <body data-mobile-nav-style="classic">
        
        @await Html.PartialAsync("Header")
        @RenderBody()
        @await Html.PartialAsync("Footer")
        
        <!-- start cookie message -->
        <div id="cookies-model" class="cookie-message bg-dark-gray border-radius-8px"> 
            <div class="cookie-description fs-14 mb-20px lh-22 text-white">We use cookies to enhance your browsing experience, serve personalized ads or content, and analyze our traffic. By clicking "Allow cookies" you consent to our use of cookies. </div>   
            <div class="cookie-btn">
                <a href="#" class="btn btn-transparent-white border-1 border-color-transparent-white-light btn-very-small btn-switch-text btn-rounded w-100 mb-15px" aria-label="btn">
                    <span>
                        <span class="btn-double-text" data-text="Cookie policy">Cookie policy</span> 
                    </span>
                </a> 
                <a href="#" class="btn btn-white btn-very-small btn-switch-text btn-box-shadow accept_cookies_btn btn-rounded w-100" data-accept-btn aria-label="text">
                    <span>
                        <span class="btn-double-text" data-text="Allow cookies">Allow cookies</span> 
                    </span>
                </a>
            </div> 
        </div>
        <!-- end cookie message -->
        <!-- start scroll progress -->
        <div class="scroll-progress d-none d-xxl-block">
            <a href="#" class="scroll-top" aria-label="scroll">
                <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
            </a>
        </div>
        <!-- end scroll progress -->

        <!-- javascript libraries -->
			
        <script type="text/javascript" src="~/scripts/jquery.js"></script>
        <script type="text/javascript" src="~/scripts/vendors.min.js"></script>
        <script type="text/javascript" src="~/scripts/main.js"></script>
    </body>
</html>